USE [master]
GO
/****** Object:  Database [TraoDoiHang]    Script Date: 5/13/2024 4:40:39 PM ******/
CREATE DATABASE [TraoDoiHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TraoDoiHang', FILENAME = N'C:\Users\User\TraoDoiHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TraoDoiHang_log', FILENAME = N'C:\Users\User\TraoDoiHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TraoDoiHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TraoDoiHang]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] NOT NULL,
	[UserName] [varchar](100) NULL,
	[Pass] [varchar](50) NULL,
	[Position] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaMua]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaMua](
	[ID] [int] NULL,
	[MSP] [varchar](10) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[SoLuongDaMua] [varchar](10) NULL,
	[MaVoucher] [varchar](10) NULL,
	[Gia] [int] NULL,
	[ThoiGianHienTai] [date] NULL,
	[MaVanChuyen] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianDat] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVanChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[IDNguoiMua] [int] NOT NULL,
	[MSP] [varchar](10) NOT NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[SoSao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNguoiMua] ASC,
	[MSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiGiaoHang]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiGiaoHang](
	[IDNguoiMua] [int] NULL,
	[MSP] [varchar](100) NULL,
	[HoTen] [nvarchar](50) NULL,
	[soDT] [varchar](20) NULL,
	[DiaChiNhanHang] [nvarchar](200) NULL,
	[ThoiGianThayDoi] [date] NULL,
	[MaDiaChi] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IDNguoiMua] [int] NOT NULL,
	[MSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNguoiMua] ASC,
	[MSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[Phone] [varchar](13) NULL,
	[CCCD] [varchar](13) NULL,
	[Gender] [nvarchar](10) NULL,
	[Bith] [date] NULL,
	[Email] [varchar](100) NULL,
	[Avarta] [varbinary](max) NULL,
	[Addr] [nvarchar](200) NULL,
	[DiaChiNhanHang] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTam]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTam](
	[IDNguoiMua] [int] NOT NULL,
	[IDShop] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNguoiMua] ASC,
	[IDShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MSP] [varchar](10) NOT NULL,
	[IDChuSP] [int] NULL,
	[TenSP] [nvarchar](100) NULL,
	[DanhMuc] [nvarchar](50) NULL,
	[GiaTienLucMoiMua] [varchar](20) NULL,
	[GiaTienBayGio] [varchar](20) NULL,
	[NgayMuaSP] [date] NULL,
	[SoLuong] [varchar](10) NULL,
	[XuatXu] [nvarchar](20) NULL,
	[BaoHanh] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[MotaTinhTrang] [nvarchar](max) NULL,
	[MotaSP] [nvarchar](max) NULL,
	[AnhLucMoiMua] [nvarchar](max) NULL,
	[AnhBayGio] [nvarchar](max) NULL,
	[BanDuoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamHuy]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamHuy](
	[ID] [int] NULL,
	[MSP] [varchar](10) NULL,
	[LyDoHuy] [nvarchar](300) NULL,
	[ThoiGianHuy] [date] NULL,
	[MaHuy] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MSP] [varchar](10) NULL,
	[ID] [int] NULL,
	[PTTT] [varchar](20) NULL,
	[gia] [int] NULL,
	[ThoiGianDat] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ID] [int] NOT NULL,
	[MaVoucher] [varchar](10) NOT NULL,
	[Mota] [nvarchar](200) NULL,
	[GiaTri] [int] NULL,
	[HSD] [date] NULL,
	[SoLuongVoucher] [int] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 5/13/2024 4:40:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[IDNguoiDung] [int] NOT NULL,
	[MSP] [varchar](10) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_YeuThich] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DaMua] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [BanDuoc]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[DaMua]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[DaMua]  WITH CHECK ADD FOREIGN KEY([MSP])
REFERENCES [dbo].[SanPham] ([MSP])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([IDNguoiMua])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MSP])
REFERENCES [dbo].[SanPham] ([MSP])
GO
ALTER TABLE [dbo].[DiaChiGiaoHang]  WITH CHECK ADD FOREIGN KEY([IDNguoiMua])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([IDNguoiMua])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MSP])
REFERENCES [dbo].[SanPham] ([MSP])
GO
ALTER TABLE [dbo].[QuanTam]  WITH CHECK ADD FOREIGN KEY([IDNguoiMua])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[QuanTam]  WITH CHECK ADD FOREIGN KEY([IDShop])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([IDChuSP])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[SanPhamHuy]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[SanPhamHuy]  WITH CHECK ADD FOREIGN KEY([MSP])
REFERENCES [dbo].[SanPham] ([MSP])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([MSP])
REFERENCES [dbo].[SanPham] ([MSP])
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([MSP])
REFERENCES [dbo].[SanPham] ([MSP])
GO
USE [master]
GO
